#word {
  margin-top: 15%;
  h1{
    text-align: center;
  }
}

#input {
  input[type="text"] {
    width: 100%;
  }
}

.definition {
  margin-bottom: 2rem;
  border-radius: 10px;
  background: rgb(230,230,230);
  padding: 1rem;
  word-wrap: normal;

  h5 {
    margin: 0;
  }

  a {
    margin: auto;
    width: 90%;
  }
}

.voted {
  background: #33C3F0;
}
