#mainContainer {
  #header {
    margin-top: 25%;
      h1 {
        line-height: 1.2rem;
      }
  }

  #startNav {
    margin-top: 3rem;
    a {
      width: 100%
    }

    #roomIdInput {
      margin-bottom: 0;
    }

    #joinButton {
      margin-left: 0;
    }
  }
}

.green {
  background-color: lighten(rgb(0,1,0), 93%) !important;
  border-color: lighten(rgb(0,1,0), 63%) !important;
}
.red {
  background-color: lighten(rgb(1,0,0), 93%) !important;
  border-color: lighten(rgb(1,0,0), 63%) !important;
}

#footer {
  margin-top: 2rem;
  color: grey;
  #content {
    margin: 0;
    a {
      color: grey;
    }

    .spacer {
      padding-left: 1px;
      height: 1rem;
      background: grey;
      margin-left: .7rem;
      margin-right: .7rem;
    }
  }
}
