doctype html
html
  head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')
    title Dictionary Game
    meta(name='description', content='')
    meta(name='author', content='')
    //
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      FONT
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    //
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/skeleton.css')
    link(rel='stylesheet', href='css/game.css')
    //
      Favicon
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='icon', type='image/png', href='images/favicon.png')
    //
      Javascript
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    script(src="js/game.js")
  body(ng-app="DictionaryGame")
    .container(ng-controller="GameCtrl")
      .row#word
        .twelve.columns
          h1 {{word}}
      .row#input(ng-show="showInput == true")
        .ten.columns
          input(type="text", placeholder="{{placeholder}}", ng-model="definition")
        .two.columns
          a.button.button-primary(href="#", ng-click="submitDefinition()") {{submitButton}}
      
      .row.definition(ng-repeat="definition in definitions", ng-class="{'voted': $index == voted}")
        .ten.columns
          h5 {{definition}}
        .two.columns
          a.button(href="#", ng-click="vote($index)", ng-show="$index != voted", ng-if="canVote") Vote
        
